<div class="container" id="pageLogin">
    <div class="center">
        <div class="form-group">
            <label for="usr">Name</label>
            <input autocomplete="off" type="form-control" id="usr" class="form-control"/>
        </div>
        <button id="login" type="button" class="btn btn-primary btn-md">Đăng nhập</button>
    </div>
</div>
