<!doctype html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>
    <% include nav %>
    <% include formLogin %>
    <% include screenchat %>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
