<div class="container" id="pageChat" hidden>
    <div id="message">
        <ul id="listMessage" class="list-group">
        </ul>
    </div>
    <div id="user">
        <ul id="listUser" class="list-group">
        </ul>
        <ul id="listRoom" class="list-group">
        </ul>
    </div>
    <div id="form">
        <input id="content" autocomplete="off" autofocus /><button type="button" id="send">Send</button>
    </div>
</div>
